In [307]:
# Import necessary libraries
import pandas as pd
import numpy as np
from random import sample

import matplotlib as plt
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px

# Function to replicate rows for previous years and adapt columns
def replicateRowsPreviousYears(df, startYear, endYear):
    """
    Replicate rows for previous years and adapt columns.
    Parameters:
    - df (pd.DataFrame): The dataframe to replicate rows for.
    - startYear (int): The starting year for which to replicate rows.
    - endYear (int): The ending year for which to replicate rows.
    Returns:
    - dfFinal (pd.DataFrame): The replicated dataframe
    """
    replicated_dataframes = [df]  # List to hold the original and replicated dataframes
    
    for year in range(startYear, endYear + 1):
        replicated_df = df.copy()
        replicated_df['period_year'] = year
        replicated_df['date'] = replicated_df['date'].apply(
            lambda x: x.replace(year=year)
        )
        replicated_dataframes.append(replicated_df)
    
    # Concatenate the original and replicated dataframes
    dfFinal = pd.concat(replicated_dataframes, ignore_index=True)
    return dfFinal

# Load the Dataset

In [308]:
FILE_PATH = '/Users/diana/Dropbox/_hackathon/deploy_2023/_data/pj_sample_value.csv'  # Change this to the path of your dataset
FILE_PATH_DONATIONS = '/Users/diana/Dropbox/_hackathon/deploy_2023/_data/donations_private_2012_to_2023.csv'  # Change this to the path of your dataset

# Load your data
df = pd.read_csv(FILE_PATH)

# Create a new date column by combining "period_year" and "period_month"
df['date'] = pd.to_datetime(dict(year=df.period_year, month=df.period_month, day=1))
df['date'] = df.date.dt.strftime('%Y-%m-%d') #convert to string
# df['date'] = df.date.dt.date # get rid of the time value
df.head(12)

,circle,kpi,periodicity,range,period_year,period_month,value,date
0,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,1,35.0,2023-01-01
1,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,2,50.0,2023-02-01
2,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,3,50.0,2023-03-01
3,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,4,55.0,2023-04-01
4,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,5,70.0,2023-05-01
5,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,6,80.0,2023-06-01
6,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,7,85.0,2023-07-01
7,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,8,90.0,2023-08-01
8,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,9,NaN,2023-09-01
9,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,10,NaN,2023-10-01
10,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,11,NaN,2023-11-01
11,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,12,NaN,2023-12-01

# Transform dataset to wide format

In [309]:
# list of kpis and dates
kpis = list(df.kpi.unique())
dates = list(df.date.unique())

# define wide df with only one entry per kpi and date columns
dfWide = df[['circle', 'kpi', 'periodicity', 'range']].drop_duplicates().reset_index(drop=True)
dfWide.replace({'0 <= X <= 100': '0 <= % <= 100'}, inplace=True)
dfWide = dfWide.reindex(columns=['circle', 'kpi', 'periodicity', 'range']+dates)
dfWide

,circle,kpi,periodicity,range,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01,2023-11-01,2023-12-01
0,HR,share of teams constituted as circles,month,0 <= % <= 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HR,share short tern leave,month,0 <= % <= 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HR,involuntary headcount change (FTE),month,0 <= % <= 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Programs - Children - Counceling,reachability,quarter,0 <= % <= 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Programs - Parents -Online,count sessions on .projuventute.ch,month,0 <= X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Programs - Parents -Online,count leads,month,0 <= X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Programs - Parents -Online,net promoter score,year,0 <= % <= 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Fundraising,private donations,month,0 <= X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Digital,additional monetization/savings from CRM,quarter,0 <= X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Programs,additional monetization/savings from programs,quarter,0 <= X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [310]:
# enter the data for the date columns for each kpi
for i,k in enumerate(kpis):
    dfTemp = df[df.kpi==k][['date','value']].T
    dfTemp = dfTemp.rename(columns=dfTemp.iloc[0]).drop(dfTemp.index[0])
    dfWide.loc[i,dates[0]:] = dfTemp.iloc[0]

# replicate entries for quarterly data
for i in [3,6,9]:
    temp = dfWide.loc[dfWide['periodicity'] == 'quarter','2023-0'+str(i)+'-01']
    dfWide.loc[dfWide['periodicity'] == 'quarter','2023-0'+str(i-2)+'-01']= temp
    dfWide.loc[dfWide['periodicity'] == 'quarter','2023-0'+str(i-1)+'-01']= temp

# replicate entries for yearly data
temp = dfWide.loc[dfWide['periodicity'] == 'year','2023-12-01']
dfWide.loc[dfWide['periodicity'] == 'year','2023-10-01'] = temp
dfWide.loc[dfWide['periodicity'] == 'year','2023-11-01'] = temp
for i in range(1,10): #fillna method did not work, even with inplace.
    dfWide.loc[dfWide['periodicity'] == 'year','2023-0'+str(i)+'-01']=temp

# isolate numerical values only in dfValues
dfValues = dfWide.loc[:,'2023-01-01':].T
dfValues.columns = kpis
dfValues

,share of teams constituted as circles,share short tern leave,involuntary headcount change (FTE),reachability,count sessions on .projuventute.ch,count leads,net promoter score,private donations,additional monetization/savings from CRM,additional monetization/savings from programs
2023-01-01,35.0,2.04,2.26,46.0,158611.0,NaN,35.0,1369218.0,51000.0,186258.0
2023-02-01,50.0,2.20,0.98,46.0,203755.0,NaN,35.0,2144446.0,51000.0,186258.0
2023-03-01,50.0,2.54,1.47,46.0,190560.0,825.0,35.0,1923875.0,51000.0,186258.0
2023-04-01,55.0,2.17,1.46,44.9,164663.0,NaN,35.0,1274911.0,0.0,0.0
2023-05-01,70.0,3.30,0.00,44.9,180421.0,NaN,35.0,1797114.0,0.0,0.0
2023-06-01,80.0,2.58,0.00,44.9,174107.0,276.0,35.0,1352463.0,0.0,0.0
2023-07-01,85.0,2.04,0.51,43.6,164059.0,NaN,35.0,1359887.0,0.0,26000.0
2023-08-01,90.0,0.93,1.01,43.6,194407.0,NaN,35.0,1101047.0,0.0,26000.0
2023-09-01,NaN,NaN,NaN,43.6,NaN,NaN,35.0,NaN,0.0,26000.0
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN
2023-11-01,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN

In [311]:
# create df with 12 entries for each kpi
dfComplete = df.loc[:,'circle':'period_year'].drop_duplicates().reset_index(drop=True)
dfComplete = dfComplete.loc[dfComplete.index.repeat(12)].reset_index(drop=True)

for k in kpis:
    dfComplete.loc[dfComplete.kpi==k,'period_month'] = list(range(1,12+1))
    
dfComplete = dfComplete.astype({'period_month':'int'})
dfComplete['date'] = pd.to_datetime(dict(year=dfComplete.period_year, month=dfComplete.period_month, day=1))
dfComplete['date'] = dfComplete.date.dt.date # get rid of the time value
dfComplete

,circle,kpi,periodicity,range,period_year,period_month,date
0,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,1,2023-01-01
1,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,2,2023-02-01
2,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,3,2023-03-01
3,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,4,2023-04-01
4,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,5,2023-05-01
...,...,...,...,...,...,...,...
115,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,8,2023-08-01
116,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,9,2023-09-01
117,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,10,2023-10-01
118,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,11,2023-11-01
119,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,12,2023-12-01

# Handle Missing Values

In [312]:
# Interpolating NaN values for each KPI separately
dfFilled = pd.DataFrame()

kpisMonthly = list(df.loc[df.periodicity == 'month','kpi'].unique())
kpisQuarterly = list(df.loc[df.periodicity == 'quarter','kpi'].unique())
kpisYearly = list(df.loc[df.periodicity == 'year','kpi'].unique())

# Fill NaN values for monthly KPI
for kpi in kpis:
    if kpi in kpisMonthly:
        if kpi == 'count leads':
            kpiData = dfComplete[dfComplete['kpi'] == kpi].copy().reset_index(drop=True)
            kpiData['value'] = dfValues[kpi].reset_index(drop=True)
            kpiData['value'] = sample(range(int(kpiData['value'].min()), int(kpiData['value'].max())), 12)
            dfFilled = pd.concat([dfFilled, kpiData], ignore_index=True)

        else:
            kpiData = dfComplete[dfComplete['kpi'] == kpi].copy().reset_index(drop=True)
            kpiData['value'] = dfValues[kpi].reset_index(drop=True)
            kpiData.loc[kpiData.period_month==9,'value'] = dfValues[kpi].mean()
            kpiData.loc[kpiData.period_month==10,'value'] = list(dfValues[kpi].dropna().sample(n=1, random_state=1))
            kpiData.loc[kpiData.period_month==11,'value'] = dfValues[kpi].mean()
            kpiData.loc[kpiData.period_month==12,'value'] = list(dfValues[kpi].dropna().sample(n=1, random_state=3))
            dfFilled = pd.concat([dfFilled, kpiData], ignore_index=True)

    # Fill NaN values for quarterly KPI   
    elif kpi in kpisQuarterly:
        kpiData = dfComplete[dfComplete['kpi'] == kpi].copy().reset_index(drop=True)
        kpiData['value'] = dfValues[kpi].reset_index(drop=True)
        kpiData.loc[kpiData.period_month==10,'value'] = dfValues[kpi].mean()
        kpiData.loc[kpiData.period_month==11,'value'] = dfValues[kpi].mean()
        kpiData.loc[kpiData.period_month==12,'value'] = dfValues[kpi].mean()
        dfFilled = pd.concat([dfFilled, kpiData], ignore_index=True)
    
    # fill NaN values for yearly KPI    
    elif kpi in kpisYearly:
        kpiData = dfComplete[dfComplete['kpi'] == kpi].copy().reset_index(drop=True)
        kpiData['value'] = dfValues[kpi].reset_index(drop=True)
        dfFilled = pd.concat([dfFilled, kpiData], ignore_index=True)
    
dfFilled["kpi"] = dfFilled["kpi"].str.replace('share of short tern leave','share of short term leave')
print(dfFilled.isna().sum())
dfFilled

circle          0
kpi             0
periodicity     0
range           0
period_year     0
period_month    0
date            0
value           0
dtype: int64

,circle,kpi,periodicity,range,period_year,period_month,date,value
0,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,1,2023-01-01,35.000000
1,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,2,2023-02-01,50.000000
2,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,3,2023-03-01,50.000000
3,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,4,2023-04-01,55.000000
4,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,5,2023-05-01,70.000000
...,...,...,...,...,...,...,...,...
115,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,8,2023-08-01,26000.000000
116,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,9,2023-09-01,26000.000000
117,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,10,2023-10-01,70752.666667
118,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,11,2023-11-01,70752.666667
119,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,12,2023-12-01,70752.666667

In [313]:
# Replicate dataset over 9 years before for a total of 10 years from 2013 to 2023
startYear = 2014
endYear = 2022
dfAllYears = replicateRowsPreviousYears(dfFilled, startYear, endYear)

# Display the total number of rows and the first few rows of the final dataframe
dfAllYears[dfAllYears.kpi=='private donations'].sort_values('date').head(24)

,circle,kpi,periodicity,range,period_year,period_month,date,value
204,Fundraising,private donations,month,0 <= X,2014,1,2014-01-01,1369218.000
205,Fundraising,private donations,month,0 <= X,2014,2,2014-02-01,2144446.000
206,Fundraising,private donations,month,0 <= X,2014,3,2014-03-01,1923875.000
207,Fundraising,private donations,month,0 <= X,2014,4,2014-04-01,1274911.000
208,Fundraising,private donations,month,0 <= X,2014,5,2014-05-01,1797114.000
209,Fundraising,private donations,month,0 <= X,2014,6,2014-06-01,1352463.000
210,Fundraising,private donations,month,0 <= X,2014,7,2014-07-01,1359887.000
211,Fundraising,private donations,month,0 <= X,2014,8,2014-08-01,1101047.000
212,Fundraising,private donations,month,0 <= X,2014,9,2014-09-01,1540370.125
213,Fundraising,private donations,month,0 <= X,2014,10,2014-10-01,1101047.000
214,Fundraising,private donations,month,0 <= X,2014,11,2014-11-01,1540370.125
215,Fundraising,private donations,month,0 <= X,2014,12,2014-12-01,1352463.000
324,Fundraising,private donations,month,0 <= X,2015,1,2015-01-01,1369218.000
325,Fundraising,private donations,month,0 <= X,2015,2,2015-02-01,2144446.000
326,Fundraising,private donations,month,0 <= X,2015,3,2015-03-01,1923875.000
327,Fundraising,private donations,month,0 <= X,2015,4,2015-04-01,1274911.000
328,Fundraising,private donations,month,0 <= X,2015,5,2015-05-01,1797114.000
329,Fundraising,private donations,month,0 <= X,2015,6,2015-06-01,1352463.000
330,Fundraising,private donations,month,0 <= X,2015,7,2015-07-01,1359887.000
331,Fundraising,private donations,month,0 <= X,2015,8,2015-08-01,1101047.000
332,Fundraising,private donations,month,0 <= X,2015,9,2015-09-01,1540370.125
333,Fundraising,private donations,month,0 <= X,2015,10,2015-10-01,1101047.000
334,Fundraising,private donations,month,0 <= X,2015,11,2015-11-01,1540370.125
335,Fundraising,private donations,month,0 <= X,2015,12,2015-12-01,1352463.000

# Import and integrate yearly donations for KPI 'private donations'

In [ ]:
# import dataset and rename columns
dfDonations = pd.read_csv(FILE_PATH_DONATIONS,sep=";")
dfDonations.rename({'MONTH': 'date','AMOUNT':'value'}, axis=1, inplace=True)
dfDonations.drop('COUNT', axis=1, inplace=True)

# select desired time frame to paste onto the toy dataset
dfDonationsSelection = dfDonations.loc[(dfDonations['date']>='2014-01-01')&(dfDonations['date']<'2023-01-01')] 
# dfDonationsSelection.loc[:,'date'] = dfDonationsSelection.date.dt.date

# Convert a string column to datetime
dfDonationsSelection['date'] = pd.to_datetime(dfDonationsSelection['date'])
dfAllYears['date'] = pd.to_datetime(dfAllYears['date'])

# Sort values in both source dataframes
dfAllYears.sort_values('date',inplace=True)
dfDonationsSelection.sort_values('date',inplace=True)

for y in range(2014,2023):
    # Update the 'value' column in df1 with the 'value' column in df2 for the matching dates
    dfAllYears.loc[(dfAllYears.kpi=='private donations')
                   &(dfAllYears.date.dt.year==y),'value'] = dfDonationsSelection.loc[dfDonationsSelection.date.dt.year==y,'value'].values

In [315]:
# Plotting independent time series for each unique value in the 'kpi' column
fig = px.line(dfDonationsSelection, x='date', y='value', title=f'Time Series of actual donations')
fig.show()

In [316]:
# Plotting independent time series for each unique value in the 'kpi' column
kpi = 'private donations'
dfKpi = dfAllYears[dfAllYears['kpi'] == kpi]
fig = px.line(dfKpi, x='date', y='value', title=f'Time Series of {kpi}')
fig.show()

# Create toy data for yearly values of Net Promoter Score

In [317]:
# correct NPS scale
dfAllYears.loc[dfAllYears.periodicity=='year','range']='-100 <= X <= 100'
dfAllYears[dfAllYears.periodicity=='year']

# insert toy values for yearly NPS
toy_values = [23,37,45,52,59,68,70,72,65,35]
for i,year in enumerate(range(2014,2023+1)):
    dfAllYears.loc[(dfAllYears.period_year==year)&(dfAllYears.kpi=='net promoter score'),'value'] = toy_values[i]
    
dfAllYears.sort_values(by=['kpi', 'date'], ascending=[True, True],inplace=True)
dfAllYears[dfAllYears.period_year==2023]

,circle,kpi,periodicity,range,period_year,period_month,date,value
96,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,1,2023-01-01,51000.000
97,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,2,2023-02-01,51000.000
98,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,3,2023-03-01,51000.000
99,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,4,2023-04-01,0.000
100,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,5,2023-05-01,0.000
...,...,...,...,...,...,...,...,...
19,HR,share short tern leave,month,0 <= % <= 100,2023,8,2023-08-01,0.930
20,HR,share short tern leave,month,0 <= % <= 100,2023,9,2023-09-01,2.225
21,HR,share short tern leave,month,0 <= % <= 100,2023,10,2023-10-01,0.930
22,HR,share short tern leave,month,0 <= % <= 100,2023,11,2023-11-01,2.225
23,HR,share short tern leave,month,0 <= % <= 100,2023,12,2023-12-01,2.580

# Fill NaN HR values: share of teams constituted as circles and share short tern leave, for 2023

In [318]:
# fill toy values that make sense for HR
dfAllYears.loc[(dfAllYears.kpi=='share of teams constituted as circles')&
               (dfAllYears.period_year==2023)&
               (dfAllYears.period_month>=9),'value'] =[90,90,95,95]

dfAllYears.loc[(dfAllYears.kpi=='share short tern leave')&
               (dfAllYears.period_year==2023)&
               (dfAllYears.period_month>=9),'value'] =[0.93,0.8,0.8,1]

dfAllYears.round(2).to_csv('/Users/diana/Dropbox/_hackathon/deploy_2023/_data/pj_sample_value_long_notfilled_2014_2023.csv')
dfAllYears

,circle,kpi,periodicity,range,period_year,period_month,date,value
216,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,1,2014-01-01,51000.00
217,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,2,2014-02-01,51000.00
218,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,3,2014-03-01,51000.00
219,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,4,2014-04-01,0.00
220,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,5,2014-05-01,0.00
...,...,...,...,...,...,...,...,...
19,HR,share short tern leave,month,0 <= % <= 100,2023,8,2023-08-01,0.93
20,HR,share short tern leave,month,0 <= % <= 100,2023,9,2023-09-01,0.93
21,HR,share short tern leave,month,0 <= % <= 100,2023,10,2023-10-01,0.80
22,HR,share short tern leave,month,0 <= % <= 100,2023,11,2023-11-01,0.80
23,HR,share short tern leave,month,0 <= % <= 100,2023,12,2023-12-01,1.00

In [291]:
# export wide format for data augmentation 
dfWideFilled = pd.DataFrame(columns=kpis) 
for k in kpis:
    dfTemp = dfAllYears[(dfAllYears.period_year==2023) & (dfAllYears.kpi==k)].set_index('date')
    dfWideFilled[k]=dfTemp.value
dfWideFilled.round(2).to_csv('/Users/diana/Dropbox/_hackathon/deploy_2023/_data/pj_sample_value_wide_filled_2023.csv')
dfWideFilled.round(2)

,share of teams constituted as circles,share short tern leave,involuntary headcount change (FTE),reachability,count sessions on .projuventute.ch,count leads,net promoter score,private donations,additional monetization/savings from CRM,additional monetization/savings from programs
date,,,,,,,,,,
2023-01-01,35.0,2.04,2.26,46.00,158611.00,734.0,35.0,1369218.00,51000.0,186258.00
2023-02-01,50.0,2.20,0.98,46.00,203755.00,557.0,35.0,2144446.00,51000.0,186258.00
2023-03-01,50.0,2.54,1.47,46.00,190560.00,536.0,35.0,1923875.00,51000.0,186258.00
2023-04-01,55.0,2.17,1.46,44.90,164663.00,337.0,35.0,1274911.00,0.0,0.00
2023-05-01,70.0,3.30,0.00,44.90,180421.00,765.0,35.0,1797114.00,0.0,0.00
2023-06-01,80.0,2.58,0.00,44.90,174107.00,596.0,35.0,1352463.00,0.0,0.00
2023-07-01,85.0,2.04,0.51,43.60,164059.00,683.0,35.0,1359887.00,0.0,26000.00
2023-08-01,90.0,0.93,1.01,43.60,194407.00,410.0,35.0,1101047.00,0.0,26000.00
2023-09-01,90.0,0.93,0.96,43.60,178822.88,346.0,35.0,1540370.12,0.0,26000.00
2023-10-01,90.0,0.80,1.01,44.83,194407.00,771.0,35.0,1101047.00,17000.0,70752.67
2023-11-01,95.0,0.80,0.96,44.83,178822.88,486.0,35.0,1540370.12,17000.0,70752.67
2023-12-01,95.0,1.00,0.00,44.83,174107.00,690.0,35.0,1352463.00,17000.0,70752.67

In [305]:
dfAllYears.drop_duplicates(subset=['circle','kpi','periodicity','range']).sort_values(by=['circle', 'date'], ascending=[True, True])

,circle,kpi,periodicity,range,period_year,period_month,date,value
216,Digital,additional monetization/savings from CRM,quarter,0 <= X,2014,1,2014-01-01,51000.00
204,Fundraising,private donations,month,0 <= X,2014,1,2014-01-01,248384.00
144,HR,involuntary headcount change (FTE),month,0 <= % <= 100,2014,1,2014-01-01,2.26
120,HR,share of teams constituted as circles,month,0 <= % <= 100,2014,1,2014-01-01,35.00
132,HR,share short tern leave,month,0 <= % <= 100,2014,1,2014-01-01,2.04
228,Programs,additional monetization/savings from programs,quarter,0 <= X,2014,1,2014-01-01,186258.00
156,Programs - Children - Counceling,reachability,quarter,0 <= % <= 100,2014,1,2014-01-01,46.00
180,Programs - Parents -Online,count leads,month,0 <= X,2014,1,2014-01-01,734.00
168,Programs - Parents -Online,count sessions on .projuventute.ch,month,0 <= X,2014,1,2014-01-01,158611.00
192,Programs - Parents -Online,net promoter score,year,-100 <= X <= 100,2014,1,2014-01-01,23.00